
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 100vh;
    width: 100vw;

}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-team{
    padding: 20px 15px 30px;
    background: black;
    border-radius: 15px;
    text-align: center;
   border:1px solid #1DBF73;

}
.our-team:hover{
transition: .5s;
  box-shadow: 0px 1px 5px 0px #d1d1d1;
}
.our-team .pic{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #000;
    padding: 5px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
   border-radius: 50%;
}
.our-team:hover .pic{
    background: #1DBF73;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #1DBF73;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #1DBF73;
    border: 1px solid #1DBF73;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #1DBF73;
    color: #fff;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}